# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MOLEKULA_TWS_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "molekula_tws"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MOLEKULA_TWS_LEFT || SHIELD_MOLEKULA_TWS_RIGHT

config ZMK_SPLIT
    default y

endif